.Container {
  display: flex;
  min-height: calc(100dvh);
  flex-direction: row;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  background-image: url("../../../public/images/seamless/floor001.png"),
    url("../../../public/images/seamless/woodplanks0001.png");
  background-size: auto 10%, auto 10%;
  background-position: bottom, center;
  background-repeat: repeat-x, repeat;
  background-color: #2e2e2e;
  gap: 10px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Ensures that the overlay does not interfere with interaction */
    z-index: 1; /* Ensures the overlay is on top of the background image but below the content */
  }
  &.morning::before {
    background: linear-gradient(
      to bottom,
      rgba(255, 179, 71, 0.2),
      rgba(255, 206, 149, 0.1)
    );
  }

  &.daytime::before {
    background: linear-gradient(
      to bottom,
      rgba(255, 241, 104, 0.05),
      rgba(0, 0, 0, 0.3)
    );
  }

  &.evening::before {
    background: linear-gradient(
      to bottom,
      rgba(251, 90, 64, 0.45),
      rgba(0, 0, 0, 0.4)
    );
  }

  &.night::before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.85)
    );
  }
}

.MainPannel {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 2;
  // overflow-x: auto;
}

.SmallPannel {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.LeftMediumPannel {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  .RowPannel {
    flex: 3;
  }
  .RowPannel + .RowPannel {
    flex: 1;
  }
}

.RightMediumPannel {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.LargePannel {
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 10px;
}

.RowPannel {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}

.RowPannel.FullRowPannel {
  flex: 1;
}

.ColumnPannel {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Frame,
.LargeFrame,
.Window,
.LargeShelf,
.LargeWindow {
  background-color: #2e2e2e;
  border: 3px solid #555;
  box-shadow: 0 8px 5px 1px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.Frame {
  display: flex;
  width: 100%;
  height: 80px;
}

.LargeFrame {
  display: flex;
  width: 100%;
  height: 150px;
}

.LargeShelf {
  display: flex;
  width: 100%;
  height: 150px;
}
.SmallShelf {
  display: flex;
  width: 100%;
  height: 100px;
}

.Window {
  display: flex;
  width: 100%;
  background-color: #46aaed;
  border: 10px solid #6d3807;
  min-height: 200px;
  // width: 400px;
  // height: 320px;
  &.morning {
    background: linear-gradient(to bottom, rgb(101 188 255), rgb(255 150 28));
  }
  &.daytime {
    background: linear-gradient(to bottom, rgb(95 222 250), rgb(75 163 255));
  }
  &.evening {
    background: linear-gradient(to bottom, rgb(255 179 81), rgb(255 28 28));
  }
  &.night {
    background-image: url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 12, 47), rgb(44 14 136));
    // background: linear-gradient(to bottom, rgb(0 33 47), rgb(44 14 136));
  }
  .Content:before {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .Content.morning:before {
    background: linear-gradient(
      to bottom,
      rgba(255, 239, 71, 0.35),
      rgba(0, 0, 0, 0.2)
    );
  }
  .Content.daytime:before {
    background: linear-gradient(
      to bottom,
      rgba(255, 137, 43, 0.15),
      rgba(0, 0, 0, 0.15)
    );
  }
  .Content.evening:before {
    background: linear-gradient(
      to bottom,
      rgba(255, 147, 71, 0.8),
      rgba(0, 0, 0, 0.3)
    );
  }
  .Content.night:before {
    // background: linear-gradient(
    //   to bottom,
    //   rgba(0, 0, 0, 0.6),
    //   rgba(0, 0, 0, 0.8)
    // );
  }
}

.LargeWindow {
  display: flex;
  width: 100%;
  background-image: url("../../../public/images/seamless/city001.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #fff;
  border: 10px solid #6d3807;
  // background-size: 50%;
  // width: 800px;
  // height: 400px;
  &.morning {
    background: url("../../../public/images/seamless/city001.png"),
      linear-gradient(to bottom, rgb(101 188 255), rgb(255 150 28));
    background-position: bottom;
    background-repeat: repeat-x;
  }
  &.daytime {
    background: url("../../../public/images/seamless/city001.png"),
      linear-gradient(to bottom, rgb(95 222 250), rgb(75 163 255));
    background-position: bottom;
    background-repeat: repeat-x;
  }
  &.evening {
    background: url("../../../public/images/seamless/city001.png"),
      linear-gradient(to bottom, rgb(255 179 81), rgb(255 28 28));
    background-position: bottom;
    background-repeat: repeat-x;
  }
  &.night {
    background: url("../../../public/images/seamless/city002.png"),
      url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 1, 1), rgb(44 14 136));
    background-position: bottom, bottom;
    background-repeat: repeat-x, repeat, no-repeat, no-repeat;
    background-size: auto, 25%, 100%;
    background-blend-mode: normal, hard-light;
    animation: cityNightAnimation 25s linear infinite;
  }

  .Content:before {
    content: "";
    display: flex;
    width: 100%;
    min-width: 200px;
    height: 100%;
    z-index: 1;
    border-top: 8px solid #a76e3d;
    border-right: 12px solid #a76e3d;
    border-bottom: 8px solid #a76e3d;
    border-left: 12px solid #a76e3d;
  }
  .Content.morning:before {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    );
  }
  .Content.daytime:before {
    background: linear-gradient(
      to bottom,
      rgba(62, 163, 225, 0.5),
      rgba(58, 194, 255, 0.25)
    );
  }
  .Content.evening:before {
    background: linear-gradient(
      to bottom,
      rgba(244, 205, 174, 0.2),
      rgba(255, 134, 63, 0.2)
    );
  }
  .Content.night:before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    );
  }
  .Content::after {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    // border: 4px solid #4e4e4e;
  }
}

.Content {
  width: 100%;
  height: 100%;
  background-size: 100px 100px;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  &.FrameContent {
    border-top: 4px solid #2a1605;
    border-right: 6px solid #492506;
    border-bottom: 10px solid #89552a;
    border-left: 6px solid #492506;
    .SunContainer {
      width: 4rem;
      height: 4rem;
      position: absolute;
      color: #ffffff;
      top: 5%;
      right: 20%;
      .Sun {
        filter: drop-shadow(0px 0px 10px #ffe6ad);
      }
    }
    .MoonPhaseContainer {
      width: 6vh;
      height: 6vh;
      position: absolute;
      color: #ffffff;
      top: 25px;
      right: 25px;
      .MoonPhases {
        filter: drop-shadow(0px 0px 5px #ffff0e);
      }
    }
  }
  .ContentText {
    position: absolute;
    z-index: 2;
  }
}

@keyframes cityNightAnimation {
  0% {
    background-image: url("../../../public/images/seamless/city002.png"),
      url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 12, 47), rgb(44 14 136));
    background-position: bottom, 0;
    background-blend-mode: normal, hard-light, normal;
  }
  25% {
    background-image: url("../../../public/images/seamless/city002-2.png"),
      url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 12, 47), rgb(44 14 136));
    background-position: bottom, 25;
    background-blend-mode: normal, normal, normal;
  }
  50% {
    background-image: url("../../../public/images/seamless/city002.png"),
      url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 12, 47), rgb(44 14 136));
    background-position: bottom, 75;
    background-blend-mode: normal, hard-light, normal;
  }
  75% {
    background-image: url("../../../public/images/seamless/city002-2.png"),
      url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 12, 47), rgb(44 14 136));
    background-position: bottom, 100;
    background-blend-mode: normal, normal, normal;
  }
  100% {
    background-image: url("../../../public/images/seamless/city002.png"),
      url("../../../public/images/sprite/st01.png"),
      linear-gradient(to bottom, rgb(0, 12, 47), rgb(44 14 136));
    background-position: bottom, 200;
    background-blend-mode: normal, hard-light, normal;
  }
}

@media screen and (max-width: 760px) {
  .LargeWindow {
    .Content:before {
      content: "";
      display: flex;
      border: none;
      background: none;
    }
    .Content.morning:before,
    .Content.daytime:before,
    .Content.evening:before,
    .Content.night:before {
      background: none;
    }
  }
  .MoonPhaseContainer,
  .SunContainer {
    display: none;
  }
}
