.LoadingContainer {
  --sprite-image: url("../../public/images/sprite/mimicasp.png");
  --sprite-width: 512px; 
  --sprite-height: 512px; 
  --expected-width: 256px; 
  --expected-height: 256px;
  --sprite-frames: 2;
  --sprite-frames-total: calc(var(--sprite-frames) * 100%);
  --sprite-animation-duration: 1s;
  --sprite-animation-background-position-multiplier: calc(
    var(--expected-width) * 2 * -1
  );
  
  position: absolute;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  
  .LoadingSpriteItem {
    width: var(--expected-width);
    height: var(--expected-height);
    background: var(--sprite-image);
    animation: play var(--sprite-animation-duration) steps(var(--sprite-frames)) infinite;
    background-repeat: no-repeat;
    background-size: var(--sprite-frames-total) var(--expected-height);
  }
  
  .TextItems {
    position: absolute;
    text-align: center;
    top: 28dvh;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
  }
}

@keyframes play {
  0% {
    background-position: 0;
  }
  100% {
    background-position: var(--sprite-animation-background-position-multiplier);
  }
}

@media screen and (max-width: 512px) {
  .LoadingContainer {
    --expected-width: 128px;
    --expected-height: 128px;
    
    .TextItems {
      top: 32dvh;
      font-size: 1rem;
    }
  }
}